<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tasana New"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TasanaNew">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DataLingkunganActivity" />
        <activity android:name=".CatatanActivity" />
        <activity android:name=".TransaksiActivity" />
        <activity android:name=".CatatanListActivity" />
        <activity android:name=".ProjectActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".ProjectHasilActivity" />
        <activity android:name=".CatatanHasilActivity" />
        <activity android:name=".DataLingkunganListActivity" />
        <activity android:name=".EditLingkunganActivity" />
        <activity android:name=".EditProjectActivity" />
        <activity android:name=".EditCatatanActivity" />
        <activity android:name=".TransaksiHasilActivity" />
        <activity android:name=".EditTransaksiActivity" />
        <activity android:name=".kinerjaPerangkatLunakActivity" />
        <activity android:name=".LingkunganInputActivity" />
        <activity android:name=".InputCatatanActivity" />
        <activity android:name=".InputTransaksiActivity" />
        <activity android:name=".AktivitasActivity" />
        <activity android:name=".AktivitasHasilActivity" />
        <activity android:name=".EditAktivitasActivity" />
        <activity android:name=".InputAktivitasActivity" />
        <activity android:name=".GeneratePdfActivity" />


    </application>

</manifest>
